section.login-page {
  background-color: #00a087;
  border: #96b2bb solid 0.05em;
  border-radius: 0.5em;
  padding: 60px 80px 10px 80px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  display: none;
}

section.register-page {
  background-color: #00a087;
  border: #96b2bb solid 0.05em;
  border-radius: 0.5em;
  padding: 60px 80px 10px 80px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  display: none;
}

.login-form label {
  margin: 10px;
  text-transform: uppercase;
}

.login-form input {
  margin-right: 10px;
  border: #244751 solid 2px;
  border-radius: 0.5em;
}

.login-form button {
  border: gray solid 2px;
  border-radius: 0.5em;
}