.new-tweet h2 {
  font-weight: bold;
  border-bottom: black solid 0.05em;
  margin-block-end: 0.83em;
  margin-block-start: 0em;
}

.new-tweet textarea {
  overflow: auto;
  width: 100%;
  padding: 0.5em;
}

section.new-tweet {
  background-color: #eee;
  border: #156d8a solid 0.05em;
  border-radius: 0.5em;
  padding: 1em;
}

span.counter {
  float: right;
  font-style: italic;
}

section.new-tweet p {
  background-color: #f72e2e;
  border-radius: 0.5em;
  padding: 0.2em;
  margin-top: 0.2em;
  color: #ffd630;
  font-size: small;
  font-weight: bold;
  text-align: center;
  display: none;
  width: 100%;
}
